/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.container .imgContainer{
    float: left;
}

.container > button{
    display: block;
    clear: both;
    margin: 15px auto;
}